In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
cancerdb = pd.read_csv('/home/blair/cognixia/kaggle_cancerdb.csv')

# print(cancerdb['tissue'].dropna())

In [5]:
cancerDataFrame = pd.DataFrame({
    'Title:': cancerdb['title'][:30].fillna('*No Title Recorded'),
    'Tissue:': cancerdb['tissue'][:30].fillna('*No Tissue Type Recorded'),
    'Location:': cancerdb['city'][:30].fillna('*No Location Recorded'),
    'Main Type:': cancerdb['mainType'][:30].fillna('*No Type Recorded'),
    'US Cases Per Year:': cancerdb['uscsCasesPerYear'][:30].fillna('*No Record')
    
})

cancerDataFrame

,Title:,Tissue:,Location:,Main Type:,US Cases Per Year:
0,Jonsson Comprehensive Cancer Center,*No Tissue Type Recorded,"Los Angeles, California",*No Type Recorded,*No Record
1,Breast Cancer,Breast,*No Location Recorded,"Breast Cancer, NOS",264115.0
2,Lung Cancer,Lung,*No Location Recorded,"Lung Cancer, NOS",221020.0
3,Skin Cancer,Skin,*No Location Recorded,"Skin Cancer, NOS",88001.0
4,Alvin J. Siteman Cancer Center,*No Tissue Type Recorded,"St. Louis, Missouri",*No Type Recorded,*No Record
5,Bladder Cancer,Bladder/Urinary Tract,*No Location Recorded,"Bladder/Urinary Tract Cancer, NOS",74949.0
6,Fox Chase Cancer Center,*No Tissue Type Recorded,"Philadelphia, Pennsylvania",*No Type Recorded,*No Record
7,Huntsman Cancer Institute,*No Tissue Type Recorded,"Salt Lake City, Utah",*No Type Recorded,*No Record
8,Prostate Cancer,Prostate,*No Location Recorded,"Prostate Cancer, NOS",224703.0
9,David H. Koch Institute for Integrative Cancer...,*No Tissue Type Recorded,"Cambridge, Massachusetts",*No Type Recorded,*No Record
10,Indiana University Melvin and Bren Simon Compr...,*No Tissue Type Recorded,"Indianapolis, Indiana",*No Type Recorded,*No Record
11,The University of Texas MD Anderson Cancer Center,*No Tissue Type Recorded,"Houston, Texas",*No Type Recorded,*No Record
12,Pancreatic Cancer,Pancreas,*No Location Recorded,"Pancreatic Cancer, NOS",53957.0
13,Georgetown Lombardi Comprehensive Cancer Center,*No Tissue Type Recorded,"Washington, District of Columbia",*No Type Recorded,*No Record
14,Liver Cancer,Liver,*No Location Recorded,"Liver Cancer, NOS",35443.0
15,Ovarian Cancer,Ovary/Fallopian Tube,*No Location Recorded,"Ovarian/Fallopian Tube Cancer, NOS",19561.0
16,Roche,*No Tissue Type Recorded,Basel,*No Type Recorded,*No Record
17,Abramson Cancer Center,*No Tissue Type Recorded,"Philadelphia, Pennsylvania",*No Type Recorded,*No Record
18,American College of Surgeons,*No Tissue Type Recorded,"Chicago, IL",*No Type Recorded,*No Record
19,AICR,*No Tissue Type Recorded,"Arlington, VA",*No Type Recorded,*No Record
20,Case Comprehensive Cancer Center,*No Tissue Type Recorded,"Cleveland, Ohio",*No Type Recorded,*No Record
21,Cervical Cancer,Cervix,*No Location Recorded,"Cervical Cancer, NOS",12790.0
22,Colon Cancer,Bowel,*No Location Recorded,"Bowel Cancer, NOS",142438.0
23,Genentech,*No Tissue Type Recorded,*No Location Recorded,*No Type Recorded,*No Record
24,Herbert Irving Comprehensive Cancer Center,*No Tissue Type Recorded,"New York, New York",*No Type Recorded,*No Record
25,Kidney Cancer,Kidney,*No Location Recorded,"Kidney Cancer, NOS",68020.0
26,SITC,*No Tissue Type Recorded,"Milwaukee, Wisconsin",*No Type Recorded,*No Record
27,Uterine Cancer,Uterus,*No Location Recorded,"Uterine Cancer, NOS",59447.0
28,Arizona Cancer Center,*No Tissue Type Recorded,"Tucson, Arizona",*No Type Recorded,*No Record
29,Bristol Myers Squibb,*No Tissue Type Recorded,*No Location Recorded,*No Type Recorded,*No Record

In [123]:
#Combining columns cases per year and type to determine most popular types of cases
usCases_mainType = pd.DataFrame(cancerdb, columns=['uscsCasesPerYear', 'mainType'])
mostCases = usCases_mainType[:30].fillna('*No Record')

mostCases

   uscsCasesPerYear                            mainType
0        *No Record                          *No Record
1          264115.0                  Breast Cancer, NOS
2          221020.0                    Lung Cancer, NOS
3           88001.0                    Skin Cancer, NOS
4        *No Record                          *No Record
5           74949.0   Bladder/Urinary Tract Cancer, NOS
6        *No Record                          *No Record
7        *No Record                          *No Record
8          224703.0                Prostate Cancer, NOS
9        *No Record                          *No Record
10       *No Record                          *No Record
11       *No Record                          *No Record
12          53957.0              Pancreatic Cancer, NOS
13       *No Record                          *No Record
14          35443.0                   Liver Cancer, NOS
15          19561.0  Ovarian/Fallopian Tube Cancer, NOS
16       *No Record                          *No Record
17       *No Record                          *No Record
18       *No Record                          *No Record
19       *No Record                          *No Record
20       *No Record                          *No Record
21          12790.0                Cervical Cancer, NOS
22         142438.0                   Bowel Cancer, NOS
23       *No Record                          *No Record
24       *No Record                          *No Record
25          68020.0                  Kidney Cancer, NOS
26       *No Record                          *No Record
27          59447.0                 Uterine Cancer, NOS
28       *No Record                          *No Record
29       *No Record                          *No Record

In [218]:
# RETURNS US CASES PER YEAR AND TYPE OF CANCER FOR THOSE CASES IN DESCENDING ORDER

# used lambda function checking for if value exist
grouped = usCases_mainType.groupby(['uscsCasesPerYear'], group_keys=False).apply(lambda cases: cases).dropna()

grouped.rename(columns={'uscsCasesPerYear': 'US Cases', 'mainType': 'Main Type'})

# returns order max to min
grouped.sort_values(by=['uscsCasesPerYear'], ascending=False)

# # returns order min to max
# grouped.sort_values(by=['uscsCasesPerYear'], ascending=True)

    uscsCasesPerYear                            mainType
1           264115.0                  Breast Cancer, NOS
8           224703.0                Prostate Cancer, NOS
2           221020.0                    Lung Cancer, NOS
22          142438.0                   Bowel Cancer, NOS
3            88001.0                    Skin Cancer, NOS
5            74949.0   Bladder/Urinary Tract Cancer, NOS
49           71565.0                Non-Hodgkin Lymphoma
25           68020.0                  Kidney Cancer, NOS
27           59447.0                 Uterine Cancer, NOS
12           53957.0              Pancreatic Cancer, NOS
38           45272.0                 Thyroid Cancer, NOS
14           35443.0                   Liver Cancer, NOS
40           22538.0               CNS/Brain Cancer, NOS
15           19561.0  Ovarian/Fallopian Tube Cancer, NOS
43           18872.0      Esophageal/Stomach Cancer, NOS
21           12790.0                Cervical Cancer, NOS
51            8729.0              Testicular Cancer, NOS
45            8515.0                    Hodgkin Lymphoma

In [215]:
# cancerDataFrame.describe()
df = mostCases[['uscsCasesPerYear']]
df.dropna()

   uscsCasesPerYear
0        *No Record
1          264115.0
2          221020.0
3           88001.0
4        *No Record
5           74949.0
6        *No Record
7        *No Record
8          224703.0
9        *No Record
10       *No Record
11       *No Record
12          53957.0
13       *No Record
14          35443.0
15          19561.0
16       *No Record
17       *No Record
18       *No Record
19       *No Record
20       *No Record
21          12790.0
22         142438.0
23       *No Record
24       *No Record
25          68020.0
26       *No Record
27          59447.0
28       *No Record
29       *No Record